body {
  font-family: Georgia;
  background-color: #FEF9EF;
}

#site-title {
  position: absolute;
  left: 100px;
  margin-top: 20px;
  font-size: 40px;
  color: #FE6D73;
}

#navbar {
  position: absolute;
  right: 100px;
  display: flex;
  flex-direction: row;
  color: #227C9D;
  font-size: 22px;
  text-decoration: none;
}

#navbar a {
  margin-left: 50px;
  margin-top: 30px;
}

#feed-block {
  width: 55%;
  float: left;
  height: 70vh;
  background-color: #17C3B2;
  margin-top: 100px;
  margin-left: 95px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  overflow: scroll;
}

.card {
  background-color: #FEF9EF;
  height: 300px;
  width: 99%;
  border: 3px solid #227C9D;
  margin: 0 auto 25px auto;
}

#archive-block {
  float: right;
  width: 20%;
  height: 70vh;
  background-color: #17C3B2;
  margin-top: 100px;
  margin-right: 95px;
}
