/* Defaults for body and navigation bar */

body {
  font-family: Didot;
  background-color: #264653;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #E76F51;
  position: fixed;
  width: 100vw;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar h1 {
  font-size: 30px;
  color: white;
  margin-left: 50px;
  margin-top: 8px;
  margin-bottom: 10px;
}

.nav-block-expanded {
  height: 100%;
  margin: auto 50px auto 0px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.nav-button {
  padding: 10px;
}

.nav-button a {
  color: white;
  font-size: 22px;
  text-decoration: none;
}

.nav-button:hover {
  background-color: #2A9D8F;
}

.nav-block-collapsed {
  display: none;
}


@media only screen and (max-width: 610px) {
  .a-block-expanded {
    display: none;
  }
  .a-block-collapsed {
    display: flex;
  }
}

/* end body + navbar defaults*/

main {
  padding-top: 80px;
  padding-left: 50px;
  border: 3px solid white;
  /*
  These parameters are for blog.html, removed for blog-ph.html.

  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 50px; */
}

main h1 {
  font-size: 40px;
  color: white;
}

main p {
  font-size: 16px;
  color: white;
}

.blog-title {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.recent-posts {
  border: 3px solid white;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
}

.posts-by-date {
  border: 3px solid white;
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
}

.older-posts {
  border: 3px solid white;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.posts-by-tags {
  border: 3px solid white;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}
