/* Defaults for body and navigation bar */

body {
  font-family: Didot;
  background-color: #264653;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  background-color: #E76F51;
  position: fixed;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar h1 {
  font-size: 40px;
  color: white;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.a-block {
  margin: auto 50px;
  flex-direction: row;
}

.navbar a {
  color: white;
  font-size: 22px;
  text-decoration: none;
  margin: 50px;
}

/* end body + navbar defaults*/

main {
  padding: 80px 100px;
  /*
  These parameters are for blog.html, removed for blog-ph.html.

  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto auto auto;
  gap: 50px; */
}

main h1 {
  font-size: 40px;
  color: white;
}

main p {
  font-size: 16px;
  color: white;
}

.blog-title {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

.recent-posts {
  border: 3px solid white;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 1;
  grid-column-end: 3;
  display: grid;
}

.posts-by-date {
  border: 3px solid white;
  grid-row-start: 1;
  grid-row-end: 5;
  grid-column-start: 3;
  grid-column-end: 4;
}

.older-posts {
  border: 3px solid white;
  grid-row-start: 3;
  grid-row-end: 4;
  grid-column-start: 1;
  grid-column-end: 3;
}

.posts-by-tags {
  border: 3px solid white;
  grid-row-start: 4;
  grid-row-end: 5;
  grid-column-start: 1;
  grid-column-end: 3;
}
