body {
  font-family: Georgia;
  background-color: #FEF9EF;
}

.navbar {
  background-color: #227C9D;
  position: absolute;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navbar p {
  font-size: 40px;
  color: #FE6D73;
  margin-left: 100px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.a-block {
  margin: auto 50px;
  flex-direction: row;
}

.navbar a {
  color: white;
  font-size: 22px;
  text-decoration: none;
  margin: 50px;
}
